<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9553239224-7ksj0kh5lr4ccapqfurappv2t18imbvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9553239224-7ksj0kh5lr4ccapqfurappv2t18imbvg</string>
	<key>API_KEY</key>
	<string>AIzaSyDe8xhFeoZaLUnvGpdZbsTeNNL5MK16Fis</string>
	<key>GCM_SENDER_ID</key>
	<string>9553239224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshuatabakhoff.teamcook</string>
	<key>PROJECT_ID</key>
	<string>teamcook-app-pj</string>
	<key>STORAGE_BUCKET</key>
	<string>teamcook-app-pj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9553239224:ios:615f0d0ad53229c804a84d</string>
	<key>DATABASE_URL</key>
	<string>https://teamcook-app-pj.firebaseio.com</string>
</dict>
</plist>